<div class="message">
    <div class="userdate">
        <p> <%= publication.user %></p>
        <p> <%= publication.created_at %></p>
    </div>
    <h2> <%= publication.title %></h2>
    <p> <%= publication.content %></p>
</div>
