<div class="message">
    <h2> <%= m.title %></h2>
    <p> <%= m.content %></p>
    <div class="userdata">
        <p> <%= user ? m.user : "Anonymous"%></p>
        <p> <%= m.created_at %></p>
    </div>
</div>
