<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link rel="stylesheet" href="/formstyle.css">
    </head>
    <body>
        <form method="POST" action="/">
            <h2>Create your account</h2>

            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname" placeholder="John" required>

            <label for="lastname">Last name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Doe" required>

            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="johndoe123" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" required>

            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
